<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://home.19035.cn/wns.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://github.com/xsusername/app/raw/master/200x200.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://github.com/xsusername/app/raw/master/200x200.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>威尼斯人</string>
                <key>bundle-version</key>
                <string>v1.0.1</string>
                <key>kind</key>
                <string>威尼斯人网投领导者品牌</string>
                <key>bundle-identifier</key>
                <string>com.xc8088.app</string>
            </dict>
        </dict>
    </array>
</array>
</plist>
